node_modules
package-lock.json
.idea

.DS_Store

wiki/.phan/

wiki/.pipeline/

wiki/cache/

wiki/docs/

wiki/site/

wiki/languages/

wiki/vendor/

wiki/tests/

wiki/maintenance/

wiki/mw-config/

etc/nginx/log/

wiki/LocalSettings.php
